@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@media (prefers-color-scheme: light) {
	:root {
		--color-1: #f39995;
		--color-1a: #f1949180;
		--color-2: #fcffc0;
		--color-3: #dff3b0;
		--color-4: #bfe2a6;
		--text-color: #215564;
	}

	.um {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-1: #736ced;
		--color-1a: #736ced80;
		--color-2: #9f9fed;
		--color-3: #d4c1ec;
		--color-4: #f2d7f1;
		--text-color: #fef9ff;
	}
	.dois {
		display: none;
	}
}

body {
	background-image: linear-gradient(
		340deg,
		var(--color-1) 0%,
		var(--color-2) 20%,
		var(--color-3) 70%,
		var(--color-4) 100%
	);
	height: 100vh;
	background-attachment: fixed;
	background-size: 400%;
	animation: gradient alternate 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: top left;
	}
	100% {
		background-position: bottom right;
	}
}

#box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
	padding: 30px 30px 0 30px;
	flex-wrap: wrap;
}

.column {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

section {
	border-radius: 40px;
	padding: 20px;
	background-color: var(--color-1a);
	display: flex;
	justify-content: space-evenly;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	flex-wrap: wrap;
}

#nome {
	background-color: var(--color-1);
	text-align: center;
	justify-content: space-around;
	align-items: center;
	font-size: 42px;
	font-weight: 500;
}

.content {
	padding: 30px;
	font-size: 25px;
	text-align: center;
	flex-direction: column;
	text-align: center;
}

p,
h1,
h2 {
	color: var(--text-color);
	font-family: "itim", cursive;
	line-height: 1.25;
	min-width: none;
}

h2 {
	font-size: xx-large;
	margin-bottom: 10px;
}

.foto {
	border-radius: 40px;
	height: 500px;
	width: 100%;
	object-fit: cover;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

ul li a {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	margin: 0 10px;
	border-radius: 40%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	background: var(--text-color);
}

ul li a .fab {
	width: 100%;
	height: 100%;
	line-height: calc(60px - 12px);
	font-size: 24px;
	color: var(--color-1);
	transition: 0.5s;
}

ul li:nth-child(1) a:hover .fab {
	color: #25d366;
}

ul li:nth-child(2) a:hover .fab {
	color: #5865f2;
}

ul li:nth-child(3) a:hover .fab {
	color: #333;
}

ul li:nth-child(4) a:hover .fab {
	color: #007bb5;
}

ul li:nth-child(5) a:hover .fab {
	color: #e1306c;
}
